@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* global styles */
body {
  color: #151b19;
}
section {
  padding: 60px 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #151b19;
  text-transform: uppercase;
  font-weight: 700;
}
button {
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  background: #f4f5f7;
  min-height: 20vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 15vh;
}
h1 {
  font-weight: 400;
  max-width: 400px;
  line-height: 1.4;
  font-size: 1.8rem;
}
.bold {
  font-weight: 600;
}
.secondary-heading {
  font-weight: 500;
  text-transform: uppercase;
}
.translucent {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
  max-width: 400px;
}
.link {
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  border-bottom: 2px solid #151b19;
  color: #151b19;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.nav-links a {
  font-weight: 500;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
}
.dot {
  color: #34cd99;
}
.hero-section,
.sales-section,
.products-section {
  position: relative;
  top: -5vh;
}
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.hero-main-banner {
  background: #d2e9e3;
  padding: 30px 0;
  grid-column: 1/3;
  height: 500px;
}
.hero-main-banner p {
  margin-bottom: 60px;
  color: #f5ad34;
}
.hero-banner {
  background: #f4f5f7;
  padding: 30px 60px;
  height: 300px;
}
.sales-top {
  display: flex;
  justify-content: space-between;
}
.tabs {
  display: flex;
  align-items: center;
}
.tabs li {
  padding-right: 50px;
}
.tabs a {
  display: inline-block;
  padding: 3px 0;
}
.tabs a.active {
  border-bottom: 2px solid #6e7ab7;
  color: #6e7ab7;
}
.action {
  background: none;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 7px;
}
.tabs-contents {
  padding: 30px 0;
}
.tabs-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
h4.name {
  font-size: 1rem;
  color: #a7a7a7;
  font-weight: 500;
  font-size: 0.9rem;
}
p.price {
  font-weight: 700;
  font-size: 1.1rem;
}
.items .image-preview {
  background: #f5f5f5;
  height: 300px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.btn {
  margin: 30px auto 0;
  display: block;
  padding: 10px 30px;
  background: none;
  border: 2px solid #b9e8da;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
}
.head {
  background: #f4f5f7;
  padding: 30px 0;
  margin-bottom: 60px;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.products-grid h3 {
  border-bottom: 2px solid #f5f5f5;
  padding: 10px 0;
  text-transform: uppercase;
}
.product {
  display: flex;
}
.product .image-preview {
  background: #f5f5f5;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-right: 20px;
}
.showcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.case {
  padding: 60px 30px;
}
.category {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.description {
  font-size: 1.1rem;
}
.case__1 {
  background: #f9d9da;
  grid-column: 1/3;
}
.case__2 {
  background: #daf3ed;
}
.case__3 {
  background: #ffedcd;
  grid-column: 4/5;
  grid-row: 1/3;
}
.case__4 {
  background: #e2f0df;
}
.case__5 {
  background: #d8dbec;
  grid-column: 2/4;
}
.case__1 .category {
  color: #fd6a76;
}
.case__2 .category {
  color: #65cead;
}
.case__3 .category {
  color: #feb237;
}
.case__4 .category {
  color: #82b574;
}
.case__5 .category {
  color: #8089c1;
}
/* decoration-content */
.decoration {
  display: flex;
}
.decoration-content {
}
.decoration-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.decoration .image-preview {
  background: #f4f5f7;
  padding: 30px;
  height: 300px;
  margin-bottom: 15px;
}
.decoration .image-preview img {
  height: 100%;
  object-fit: cover;
}
.divider {
  height: 2px;
  background: #f4f5f7;
  margin: 60px 0;
}
