@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* global styles */
body {
  color: #151b19;
}
section,
footer {
  padding: 60px 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #151b19;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3px 5px;
}
button {
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  background: #f4f5f7;
  min-height: 20vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 15vh;
}
h1 {
  font-weight: 400;
  max-width: 450px;
  line-height: 1.4;
  font-size: 2rem;
}
.bold {
  font-weight: 600;
}
.secondary-heading {
  font-weight: 500;
  text-transform: uppercase;
}
.translucent {
  color: rgba(0, 0, 0, 0.6);
  max-width: 400px;
  font-size: 0.9rem;
}
.link {
  display: inline-block;
  padding: 3px 0;
  text-decoration: none;
  border-bottom: 2px solid #151b19;
  color: #151b19;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.nav-links a {
  font-weight: 500;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
}
.dot {
  color: #34cd99;
}
.hamburger,
.search {
  padding: 2px 5px 0;
  background: #48c4a0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.hamburger {
  display: none;
}
.search {
  background: none;
}
.hamburger img,
.search img {
  width: 30px;
}
.hero-section,
.sales-section,
.products-section {
  position: relative;
  top: -5vh;
}
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.hero-main-banner {
  background: #d2e9e3;
  padding: 60px 0;
  grid-column: 1/3;
  min-height: 500px;
}
.hero-main-banner p {
  margin-bottom: 60px;
  color: #f5ad34;
}
.hero-main-banner .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-main-banner .wrapper img {
  max-width: 350px;
}
.hero-banner {
  background: #f4f5f7;
  padding: 30px 60px;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
.content {
  flex: 1;
}
.hero-banner img {
  max-width: 250px;
}
.banner-chair {
  position: absolute;
  bottom: -80px;
  left: 0;
}
.banner-desk {
  position: absolute;
  bottom: 0;
  right: -10px;
}
.sales-top {
  display: flex;
  justify-content: space-between;
}
.tabs {
  display: flex;
  align-items: center;
}
.tabs li {
  padding-right: 50px;
}
.tabs a {
  display: inline-block;
  padding: 3px 0;
}
.tabs a.active {
  border-bottom: 2px solid #6e7ab7;
  color: #6e7ab7;
}
ul.actions {
  min-width: 115px;
}
.action {
  background: none;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 7px;
}
.tabs-contents {
  padding: 30px 0;
}
.tabs-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
h4.name {
  font-size: 1rem;
  color: #a7a7a7;
  font-weight: 500;
  font-size: 0.9rem;
}
p.price {
  font-weight: 700;
  font-size: 1.1rem;
}
.items .image-preview {
  background: #f5f5f5;
  height: 200px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.btn {
  margin: 30px auto 0;
  display: block;
  padding: 10px 30px;
  background: none;
  border: 2px solid #b9e8da;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
}
.head {
  background: #f4f5f7;
  padding: 30px 0;
  margin-bottom: 60px;
}
.products-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.products-grid {
  display: grid;
  gap: 30px;
}
.products-grid h3 {
  border-bottom: 2px solid #f5f5f5;
  padding: 10px 0;
  text-transform: uppercase;
}
.product {
  display: flex;
}
.product .image-preview {
  background: #f5f5f5;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-right: 20px;
}
.showcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.case {
  padding: 60px 30px;
}
.category {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.description {
  font-size: 1.1rem;
}
.case__1 {
  background: #f9d9da;
  grid-column: 1/3;
}
.case__2 {
  background: #daf3ed;
}
.case__3 {
  background: #ffedcd;
  grid-column: 4/5;
  grid-row: 1/3;
}
.case__4 {
  background: #e2f0df;
}
.case__5 {
  background: #d8dbec;
  grid-column: 2/4;
}
.case__1 .category {
  color: #fd6a76;
}
.case__2 .category {
  color: #65cead;
}
.case__3 .category {
  color: #feb237;
}
.case__4 .category {
  color: #82b574;
}
.case__5 .category {
  color: #8089c1;
}
/* decoration-content */
.decoration {
  display: flex;
}
.decoration-content {
  max-width: 300px;
}
.decoration-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.decoration .image-preview {
  background: #f4f5f7;
  padding: 30px;
  height: 300px;
  margin-bottom: 15px;
}
.decoration .image-preview img {
  height: 100%;
  object-fit: cover;
}
.divider {
  height: 2px;
  background: #f4f5f7;
  margin: 60px 0;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
img.main {
  grid-column: 4/6;
}
footer {
  background: #48c4a0;
  color: #fff;
  font-size: 0.9rem;
}
footer .wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.8fr 1.5fr;
  gap: 30px;
  /* display: flex;
  justify-content: space-between; */
}
footer .logo {
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 0;
}
footer h3 {
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}
footer h4 {
  font-weight: 400;
}
footer img {
  width: 20px;
}
footer p {
  font-weight: 300;
}
footer small {
  color: rgba(255, 255, 255, 0.6);
}
.line {
  width: 70px;
  height: 2px;
  background: #fff;
  margin-bottom: 30px;
}
.footer-links li {
  padding-bottom: 10px;
}
.footer-links a {
  color: #fff;
  text-transform: none;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.brands {
  display: flex;
  align-items: center;
}
.brands li {
  margin-right: 15px;
}
.footer-links img {
  margin-right: 5px;
}
.news {
  display: flex;
  margin-bottom: 10px;
}
.news img {
  width: 80px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 60px;
  }
  .container {
    padding: 0 30px;
  }
  footer .wrapper {
    grid-template-columns: 1.2fr 1fr 1.5fr;
  }
  .footer-description {
    grid-column: 1/4;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .wrapper {
    padding: 0 30px;
  }
  .hero-banner {
    padding: 30px;
    display: flex;
    align-items: center;
  }
  .banner-chair,
  .banner-desk {
    position: static;
    order: 1;
  }
  .sales-top {
    min-width: 100%;
    overflow-x: scroll;
  }
  .logo {
    flex: 1;
  }
  .nav-links {
    padding: 30px 30px 0;
    background: #48c4a0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 15vh;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    display: none;
  }
  .nav-links.active {
    display: block;
  }
  .nav-links li {
    padding-bottom: 30px;
  }
  .nav-links a {
    color: #fff;
  }
  .hamburger {
    display: initial;
  }
  .hero-banner {
    grid-column: 1/3;
  }
  .tabs-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .products-contents {
    grid-template-columns: 1fr;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-grid h3 {
    grid-column: 1/3;
  }
  .showcase {
    grid-template-columns: repeat(2, 1fr);
  }
  .case {
    padding: 30px;
    grid-column: auto;
    grid-row: auto;
  }
  .decoration {
    display: flex;
    flex-direction: column;
  }
  footer .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .footer-description {
    grid-column: auto;
    text-align: left;
    max-width: none;
  }
}

@media (max-width: 700px) {
  header {
    min-height: auto;
    margin-bottom: 30px;
  }
  nav {
    min-height: 10vh;
  }
  .nav-links {
    top: 10vh;
  }
  .hero-section,
  .sales-section,
  .products-section {
    position: static;
  }
  .hero-main-banner .wrapper {
    grid-template-columns: 1fr;
  }
  .hero-banner {
    flex-direction: column;
    align-items: flex-start;
  }
  .banner-desk,
  .banner-chair {
    align-self: flex-end;
  }
  .tabs-content,
  .decoration-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-grid {
    grid-template-columns: 1fr;
  }
  .products-grid h3 {
    grid-column: auto;
  }
  .showcase {
    grid-template-columns: repeat(1, 1fr);
  }
  .head {
    margin-bottom: 30px;
  }
  footer .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 512px) {
  section,
  footer {
    padding: 30px 0;
  }
  li a {
    font-weight: 500;
  }
  .container,
  .wrapper {
    padding: 0 15px;
  }
  .link {
    font-weight: 400;
    font-size: 0.9rem;
    border-bottom-width: 1px;
  }
  .logo {
    font-size: 1.7rem;
  }
  .hero-section,
  .decoration-grid,
  .tabs-content {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .hero-main-banner,
  .hero-banner {
    min-height: auto;
    grid-column: auto;
  }
  .head {
    margin-bottom: 15px;
  }
  .products-contents,
  .products-grid {
    gap: 15px;
  }
  .items .image-preview,
  .decoration .image-preview {
    height: auto;
    /* padding: 15px; */
  }
  .items .image-preview img {
    width: 150px;
  }
  .gallery img {
    height: 100px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2.secondary-heading {
    font-size: 1.3rem;
  }
}
