@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* global styles */
section {
  padding: 60px 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #141414;
  text-transform: uppercase;
  font-weight: 700;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sales-top {
  display: flex;
  justify-content: space-between;
}
.tabs {
  display: flex;
  align-items: center;
}
.tabs li {
  padding-right: 50px;
}
.tabs a {
  display: inline-block;
  padding: 3px 0;
}
.tabs a.active {
  border-bottom: 2px solid blue;
  color: blue;
}
.action {
  background: none;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 7px;
}
.tabs-contents {
  padding: 30px 0;
}
.tabs-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
h4.name {
  font-size: 1rem;
  /* padding: 15px 0 10px; */
}
p.price {
  font-weight: 700;
  font-size: 1.2rem;
}
.items .image-preview {
  background: rgb(188, 190, 188);
  height: 300px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  margin: 30px auto 0;
  display: block;
  padding: 10px 30px;
  background: none;
  border: 2px solid aqua;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.products-grid h3 {
  border-bottom: 1px solid snow;
  padding: 10px 0;
  text-transform: uppercase;
}
.product {
  display: flex;
}
.product .image-preview {
  background: snow;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-right: 20px;
}

/* const new = () => {
 } */
